// Basic colors
$gray: #ECECEC;
$green: #00DBB1;
$white: #FFFFFF;

// Additional colors
$alto: #D6D6D6;
$aqua: #A1D9D6;
$light-gray: #FFFFFF;
$ming: #3C7B80;
$onahau: #C3FEF8;
$silver: #CCCCCC;

// generic
$border-basic: $alto 1px solid;
$box-shadow-basic: rgba(0, 0, 0, 0.16) 0px 1px 4px;

// typography colors
$color-text-weekname: #d5d9df;
$color-text-primary: #848484;
$color-text-heading: #464646;
$color-blocked: #DBDBDB;

// typography weights
$weight-text-300: 300;
$weight-text-500: 500;
$weight-text-700: 700;
$weight-text-900: 900;

// typography sizes
$size-text-stars: 1rem;
$size-text-tiny: 1.2rem;
$size-text-heading: 1.8rem;

// paddings and margins
$btn-padding: .5rem;
$tiny-padding: 1rem;
$small-padding: 1.5rem;
$basic-padding: 2rem;

$btn-margin: .5rem;
$tiny-margin: 1rem;
$medium-margin: 2rem;